
body {
    background-color:gray;
   
  }
img{
    width: 700px;
}
#Myself{
    width:800px;
}

li {
    display: inline;
}

.CenterLinks{
    margin:auto;
    text-align: center;
}

.Padding {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

  content{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
  }

  summary{
      flex-basis: 50%;
  }

  footer{
      display:flex;
  }

  /* #LinkedIn {
      height: 100px;
      width: 100px;
      margin: 50px;
  } */

  #Github, #LinkedIn, #Indeed, #Gmail {
    height: 100px;
    width: 100px;
    margin: 50px;
}

  /* #Indeed {
    height: 100px;
    width: 100px;
    margin: 50px;
} */

/* #Gmail {
    height: 100px;
    width: 100px;
    margin: 50px;
} */

#Project1 {
    height: 200px;
    width: 250px;
    margin: 50px;
}

#Project2 {
    height: 200px;
    width: 250px;
    margin: 50px;
}

#Project3 {
    height: 200px;
    width: 250px;
    margin: 50px;
}

#Work {
    display:flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

#WorkHeader {
    border-right: 3px solid black;
}

#ContactLinks {
    display:flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
