
body {
    background-color: orangered;
   }


  img{
    width: 700px;
    /* box-shadow: 0.5em 0.5em .5em rgba(0, 0, 0, 0.781); */
    border-radius: .5em;

}
#Myself{
    width:800px;
}

li {
    display: inline;
}

.CenterLinks{
    margin:auto;
    text-align: center;
}



.Padding {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

  content{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
  }

  summary{
      flex-basis: 50%;
  }

  footer{
      display:flex;
  }

  /* #LinkedIn {
      height: 100px;
      width: 100px;
      margin: 50px;
  } */

  #Github, #LinkedIn, #Indeed, #Gmail {
    height: 100px;
    width: 100px;
    margin: 50px;
    box-shadow: 0.5em 0.5em .5em rgba(0, 0, 0, 0.781);
    border-radius: .5em;
}

  /* #Indeed {
    height: 100px;
    width: 100px;
    margin: 50px;
} */

/* #Gmail {
    height: 100px;
    width: 100px;
    margin: 50px;
} */

#Project1 {
    height: 200px;
    width: 250px;
    margin: 50px;
}

#Project2 {
    height: 200px;
    width: 250px;
    margin: 50px;
}

#Project3 {
    height: 200px;
    width: 250px;
    margin: 50px;
}

#Project1,
#Project2,
#Project3 {
    border-radius: .5em;
    box-shadow: 0.5em 0.5em .5em rgba(0, 0, 0, 0.781);
    
}

#Work {
    display:flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

#WorkHeader {
    border-right: 3px solid black;
}

#ContactLinks {
    display:flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}



/* Footer  */

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i {
    color: #005ef5;
  }




  /* !-- LEARN HOW TO GET THIS FUNCTIONAL SO YOU CAN HAVE A NAVBAR THAT CAN STRETCH ACROSS THE PAGE HORIZONTALLY AND AHVE LINKS TO EVERYTHING ON PORTFOLIO --> */

  /* Style the navigation menu */
/* .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  } */
  
  /* Navigation links */
  /* .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px; */
    /* width: 25%; Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    /* text-align: center; If you want the text to be centered */
  /* } */
  
  /* Add a background color on mouse-over */
  /* .navbar a:hover {
    background-color: #000;
  } */
  
  /* Style the current/active link */
  /* .navbar a.active {
    background-color: #04AA6D;
  } */
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  /* @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; If you want the text to be left-aligned on small screens */
    /* }
  } */